Repository Armor-test/inventory-adapter-554, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/team-logging, @Armor-test/dept-notifications, @Armor-test/dept-api, @Armor-test/squad-research, @Armor-test/unit-governance, @Armor-test/team-core, @Armor-test/unit-cloud, @Armor-test/squad-cache, @Armor-test/squad-database, @Armor-test/grp-ui, @Armor-test/team-reporting, @Armor-test/squad-performance, @Armor-test/dept-ui, @Armor-test/dept-security, @Armor-test/dept-identity, @Armor-test/grp-search, @Armor-test/squad-reporting, @Armor-test/squad-payments, @Armor-test/squad-frontend, @Armor-test/dept-data, @Armor-test/squad-cloud, @Armor-test/squad-product, @Armor-test/unit-devops, @Armor-test/squad-ux, @Armor-test/squad-qa, @Armor-test/grp-storage, @Armor-test/dept-test, @Armor-test/unit-test, @Armor-test/dept-billing, @Armor-test/dept-reliability, @Armor-test/dept-reporting, @Armor-test/dept-logging, @Armor-test/squad-mobile, @Armor-test/squad-tooling, @Armor-test/team-security, @Armor-test/team-research, @Armor-test/grp-api, @Armor-test/unit-design, @Armor-test/dept-automation, @Armor-test/devops, @Armor-test/infra, @Armor-test/ci-team, @Armor-test/security, @Armor-test/auth-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-research, @Armor-test/unit-governance, @Armor-test/team-core

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/team-logging, @Armor-test/dept-notifications, @Armor-test/dept-api

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-security, @Armor-test/dept-identity, @Armor-test/grp-search

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-research, @Armor-test/unit-governance, @Armor-test/team-core

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-research, @Armor-test/unit-governance, @Armor-test/team-core

.github/CODEOWNERS:

# CODEOWNERS file for inventory-adapter-554
# Global owners - will be requested for all PRs
* @Armor-test/team-logging @Armor-test/dept-notifications @Armor-test/dept-api

# Directory ownership
/src/ @Armor-test/squad-research @Armor-test/unit-governance @Armor-test/team-core
/utils/ @Armor-test/unit-cloud @Armor-test/squad-cache @Armor-test/squad-database
/static/ @Armor-test/grp-ui @Armor-test/team-reporting
/vendor/ @Armor-test/squad-performance @Armor-test/dept-ui
/test/ @Armor-test/dept-security @Armor-test/dept-identity @Armor-test/grp-search
/pages/ @Armor-test/dept-ui @Armor-test/squad-reporting
/extensions/ @Armor-test/squad-payments @Armor-test/squad-frontend
/components/ @Armor-test/dept-data @Armor-test/squad-cloud
/lib/ @Armor-test/squad-product @Armor-test/unit-devops @Armor-test/unit-cloud
/common/ @Armor-test/team-logging @Armor-test/grp-ui @Armor-test/squad-ux
/app/ @Armor-test/squad-qa @Armor-test/grp-storage
/public/ @Armor-test/dept-test @Armor-test/unit-test @Armor-test/dept-billing
/helpers/ @Armor-test/unit-cloud @Armor-test/dept-reliability
/config/ @Armor-test/dept-reporting @Armor-test/dept-logging @Armor-test/team-reporting

# File type ownership
*.yaml @Armor-test/dept-identity @Armor-test/dept-reporting
*.tf @Armor-test/dept-ui @Armor-test/squad-database
*.yml @Armor-test/grp-storage @Armor-test/unit-devops
*.c @Armor-test/squad-cache @Armor-test/squad-mobile @Armor-test/squad-frontend
*.css @Armor-test/squad-tooling @Armor-test/squad-product @Armor-test/team-security
*.xml @Armor-test/unit-cloud @Armor-test/dept-security
*.jsx @Armor-test/team-research @Armor-test/unit-governance
*.php @Armor-test/squad-cache @Armor-test/team-security
*.kt @Armor-test/grp-api @Armor-test/team-security @Armor-test/grp-search
*.cs @Armor-test/squad-qa @Armor-test/unit-design @Armor-test/squad-performance
*.config @Armor-test/squad-reporting @Armor-test/grp-search @Armor-test/dept-automation

# Security and special files
Dockerfile @Armor-test/devops @Armor-test/infra
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
